/* This is the SASS file for idDesignSpace */
/*
 * Colors for the project
 * Coolors Exported Palette - coolors.co/01020c-f2dd6e-e4d6a7-9b2915-b9baa3 
*/
/* HSL */
/* RGB */
body {
  height: 100%;
  margin: 0px;
  background-color: white;
  font-family: 'Raleway', sans-serif; }

h1 {
  padding: .8em;
  background-color: rgba(228, 214, 167, 0.25);
  margin: 3% 10% 4% 10%;
  font-size: 5vh; }

.main {
  height: 100vh;
  background-image: url("../img/main.jpg");
  text-align: center; }

.main .logo {
  margin: 0 auto;
  height: 45vh;
  margin-top: 10vh; }
