/* === This is the SASS file for idDesignSpace === */

/*
 * Colors for the project
 * Coolors Exported Palette - coolors.co/01020c-f2dd6e-e4d6a7-9b2915-b9baa3 
*/ 

// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Raleway', sans-serif;

/* === Global Settings === */

/* HSL */
$color1: hsla(235%, 85%, 3%, 1);
$color2: hsla(50%, 84%, 69%, 1);
$color3: hsla(46%, 53%, 77%, 1);
$color4: hsla(9%, 76%, 35%, 1);
$color5: hsla(63%, 14%, 68%, 1);

/* RGB */
$color1: rgba(1, 2, 12, 1);
$color2: rgba(242, 221, 110, 1);
$color3: rgba(228, 214, 167, .8);
$color4: rgba(155, 41, 21, 1);
$color5: rgba(185, 186, 163, 1);

body {
    height: 100%;
    margin: 0px;
    background-color:$color4;
    font-family: 'Raleway', sans-serif;
}

h1 {
    padding:.8em;
    background-color: $color3;
    margin:3% 10% 4% 10%;
    font-size:5vh;
    // font-family: 'Roboto Condensed', sans-serif;
}

/* === Page Setting === */
.my-page {
    padding:0;
}



/* === Navbar Settings === */
.nav-bar {
    font-family: 'Roboto Condensed', sans-serif;
    background-color:$color2;
    height:80px;
}

.nav h2 { 
     font-size:40px;
     padding-left::20px;
     display:inline-block;
}

.logo-nav {
    margin-top:5px;
    margin-left:20px;
    height:40px; 
}
.nav-links {
    padding-top:20px;
    padding-left:15px;
}
.nav-bar a {
    margin-top: 20px;
    font-size:20px;
    color:$color1;
    margin-left:15px;
   
    
}

/* === Main Section === */

.main {
    margin:0 auto;
    height:100vh;
    background-image:url('../img/main.jpg');
    text-align:center;
}
 .main .logo {
     margin:0 auto;
     height:45vh;
     margin-top:10vh;
     background-color:rgba(255,255,255,.75);
     opacity:1;
 }

/* === About === */
.about {

}

/* === Skills === */



/* === Work === */




/* === Contact === */




/* ==== Foooter === */